@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  font-family: 'Dancing Script', cursive;
  justify-content: space-around;
  padding: 8px;
}

.header-logo {
  align-items: center;
  display: flex;
  justify-content: center;
  order: 1;
  width: 80px;
}

.trybewarts-login {
  align-items: center;
  display: flex;
  justify-content: center;
  order: 3;
}

.trybewarts-login label {
  margin-right: 8px;
}

.trybewarts-login label input {
  border: none;
  border-radius: 8px;
  padding: 8px;
}

.header-button {
  background-color: rgb(57, 7, 209);
  border: none;
  border-radius: 8px;
  color: rgb(255, 255, 254);
  font-weight: 700;
  padding: 8px;
  width: 80px;
}

.header-title {
  align-items: center;
  color: rgb(255, 255, 254);
  font-weight: 700;
  font-size: 60px;
  display: flex;
  justify-content: center;
  order: 2;
}

.form-container {
  background-color: rgb(232, 228, 230);
  display: flex;
  flex-basis: 675px;
  justify-content: space-evenly;
  padding: 24px;
}

.form {
  display: flex;
  flex-basis: 675px;
  flex-direction: column;
}

.form-title {
  align-self: center;
  margin: 16px;
}

.form-image {
  height: 500px;
  display: flex;
}

.input {
  border: none;
  border-radius: 8px;
  padding: 8px;
  width: 100%;
}

.personal-info {
  align-self: center;
  display: flex;
  margin-bottom: 8px;
  width: 80%;
}

.personal-info label {
  padding: 16px;
}

.email-house {
  align-items: center;
  align-self: center;
  display: flex;
  margin-bottom: 8px;
  width: 80%;
}

.email-house div {
  margin-left: 8px;
}

.label {
  padding: 16px;
  flex-grow: 1;
}

.div-house {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 260px;
}

.select-house {
  background-color: rgb(255, 255, 254);
  border: none;
  border-radius: 8px;
  height: 18px;
  margin-left: 16px;
  padding: 16px;
  width: 100%;
}

.label-family {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.label-family label {
  margin:  8px;
}

.forms-checkbox {
  align-self: center;
  border-top: 1px solid rgba(0, 0, 0, 0.603);
  border-bottom: 1px solid rgba(0, 0, 0, 0.603);
  display: flex;
  justify-content: center;
  width: 80%;
}

.label-content {
  flex-wrap: wrap;
  padding: 16px;
}

.div-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  width: 80%;
}

.div-rate-textarea {
  align-self: center;
  width: 80%;
  padding: 16px;
}

.content {
  padding: 8px;
  width: 33%;
}

.label-rate {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding: 16px;
}

.div-rate {
  display: flex;
  justify-content: space-evenly;
  flex-grow: 1;
}

.textarea {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.textarea textarea {
  margin: 8px;
}

.counter {
  background-color: rgb(32, 90, 71);
  border-radius: 4px;
  color: rgb(255, 255, 254);
  font-weight: 700;
  margin: 8px;
  padding: 1px;
  text-align: center;
  width: 32px;
}

.label-infos {
  padding: 16px;
}

.label-infos input {
  margin-left: 8px;
}

.submit-btn {
  align-self: center;
  background-color: rgb(57, 7, 209);
  border: none;
  border-radius: 8px;
  color: rgb(255, 255, 254);
  font-size: 16px;
  font-weight: 700;
  margin-top: 24px;
  padding: 8px;
  width: 100%;
}

.submit-btn:disabled {
  align-self: center;
  background-color: rgb(148, 161, 178);
  border: none;
  border-radius: 8px;
  color: rgb(255, 255, 254);
  font-size: 16px;
  font-weight: 700;
  margin-top: 24px;
  padding: 8px;
  width: 100%;
}

.footer {
  background-color: rgb(50, 167, 145);
  color: rgb(255, 255, 254);
  display: flex;
  justify-content: center;
  padding: 18px;
}

.footer h3 {
  font-weight: 700;
}

.info-submit {
  border-top: 1px solid #004643;
  margin: auto;
  width: 60%;
}

.info-submit h1 {
  color: #004643;
  font-size: 32px;
  padding-top: 32px;
}

.info-submit p {
  color: #004643;
  font-size: 24px;
  padding: 16px;
}