@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  font-family: 'Dancing Script', cursive;
  justify-content: space-around;
  padding: 8px;
}

.header-logo {
  align-items: center;
  display: flex;
  justify-content: center;
  order: 1;
  width: 80px;
}

.trybewarts-login {
  align-items: center;
  display: flex;
  justify-content: center;
  order: 3;
}

.trybewarts-login label {
  margin-right: 8px;
}

.trybewarts-login label input {
  border: none;
  border-radius: 8px;
  padding: 8px;
}

.header-button {
  background-color: rgb(32, 90, 71);
  border: none;
  border-radius: 8px;
  color: rgb(255, 255, 254);
  font-weight: 700;
  padding: 8px;
  width: 80px;
}

.header-title {
  align-items: center;
  color: rgb(255, 255, 254);
  font-weight: 700;
  font-size: 60px;
  display: flex;
  justify-content: center;
  order: 2;
}

.form-container {
  display: flex;
  flex-basis: 675px;
  justify-content: space-evenly;
  margin: auto;
  padding: 24px;
  width: 80%;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-image {
  height: 500px;
  display: flex;
}

.personal-info {
  display: flex;
  margin-bottom: 8px;
}

.personal-info label {
  padding: 16px;
}

.email-house {
  align-items: center;
  display: flex;
  margin-bottom: 8px;
}

.label-email {
  padding: 16px;
}

.select-house {
  align-items: center;
  height: 18px;
  margin: 16px;
  width: 80%;
}

.label-family {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.label-family label {
  margin:  8px;
}

.label-content {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.label-content label {
  margin: 8px;
}

.label-rate {
  display: flex;
  flex-direction: column;
  padding: 16px;

}

.div-rate {
  display: flex;
  justify-content: space-evenly;
  margin: 8px;
}

.textarea {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.textarea textarea {
  margin: 8px;
}

.label-infos {
  padding: 16px;
}

.label-infos input {
  margin-left: 8px;
}

.submit-btn {
  align-self: center;
  background-color: rgb(50, 167, 145);
  border: none;
  border-radius: 8px;
  color: rgb(255, 255, 254);
  font-size: 16px;
  font-weight: 700;
  margin: 8px;
  padding: 8px;
  width: 90%;
}

.submit-btn:disabled {
  align-self: center;
  background-color: rgb(148, 161, 178);
  border: none;
  border-radius: 8px;
  color: rgb(255, 255, 254);
  font-size: 16px;
  font-weight: 700;
  margin: 8px;
  padding: 8px;
  width: 90%;
}

.footer {
  background-color: rgb(50, 167, 145);
  color: rgb(255, 255, 254);
  display: flex;
  justify-content: center;
  padding: 16px;
}

.footer h3 {
  font-weight: 700;
}